## This is a velocity template for the dxf file format
0
SECTION
2
ENTITIES

#if(!$name)
	#set( $name = "ALGODES")
#end
#foreach( $solid in $solids )

#foreach( $triangle in $solid.triangles )
#if($triangle.getNormal())
	#set( $norm = $triangle.getNormal())
#end
	#set( $v1 = $triangle.getV1())
	#set( $v2 = $triangle.getV2())
	#set( $v3 = $triangle.getV3())
#if($norm)
		#set( $n1 = $norm.getX())
		#set( $n2 = $norm.getY())
		#set( $n3 = $norm.getZ())
#else
		#set( $n1 = "0")
		#set( $n2 = "0")
		#set( $n3 = "0")
#end
0
3DFACE
8
0
10
$v1.getX()
20
$v1.getY()
30
$v1.getZ()
11
$v2.getX()
21
$v2.getY()
31
$v2.getZ()
12
$v3.getX()
22
$v3.getY()
32
$v3.getZ()
13
$v3.getX()
23
$v3.getY()
33
$v3.getZ()
#end
#end
0
ENDSEC
0
EOF
